body {
    background-color: #545454;
}

.bg-grey {
    background-color: #545454;
}

.bg-main {
    background-color: #34b2ae;
}

.bg-unsorted {
    background-color: #bacddf;
}

.bg-darkgrey {
    background-color: #474646;
}

.custom-range::-webkit-slider-thumb {
    background: #34b2ae;
  }
  
  .custom-range::-moz-range-thumb {
    background: #34b2ae;
  }
  
  .custom-range::-ms-thumb {
    background: #34b2ae;
  }